.flows_raspberrypi.json.backup
[{"id":"ce1bbf04.d0cc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"efe04d8d.15555","type":"http in","z":"ce1bbf04.d0cc8","name":"","url":"/prova","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["d20e9d38.c8fca"]]},{"id":"d20e9d38.c8fca","type":"template","z":"ce1bbf04.d0cc8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>Benvenuto</title>\n    </head>\n    <body>\n        <div align=”center”>Hello World!</div>\n    </body>\n</html>","output":"str","x":380,"y":120,"wires":[["9c5a60dc.e0353"]]},{"id":"9c5a60dc.e0353","type":"http response","z":"ce1bbf04.d0cc8","name":"","statusCode":"","headers":{},"x":560,"y":140,"wires":[]}]