Node_OnlyDFRobots
[{"id":"5670e16e.e3931","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26c7df19.dd011","type":"ui_gauge","z":"5670e16e.e3931","name":"","group":"45f6afca.a87d8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"PPM","format":"{{value}}","min":"400","max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":460,"wires":[]},{"id":"f979264c.820fa8","type":"function","z":"5670e16e.e3931","name":"avg&insert","func":"function now(){\n    var date = new Date();\n    return date.toLocaleDateString()+\" \"+date.toLocaleTimeString()\n}\n\nvar n = global.get('n');\nvar samples = global.get('samples');\nvar people = global.get('people');\nvar stateAcq = global.get('stateAcq');\nvar nameAcq = global.get('nameAcq');\nvar lastSamp = global.get('lastSamp');\nvar windows = global.get('windows');\n\nsamples.push(msg.payload);\nif(samples.length >= n){\n    var sum = 0;\n    for(var i=0; i<samples.length; i++){\n        sum += parseInt(samples[i],10);\n    }\n    var avg = Math.round(sum/samples.length);\n    var gradient = 0;\n    if(lastSamp!=-1) gradient=avg-lastSamp;\n    global.set(\"lastSamp\",avg);\n    samples.length = 0;\n    if(stateAcq){\n        var ts = now();\n        msg.topic = \n            \"INSERT INTO \"+nameAcq+\" VALUES ('\"+ts+\"',\"+\n            avg+\",\"+people+\",\"+gradient+\",\"+windows+\")\";\n        global.set('numbAcq',global.get('numbAcq')+1);\n        global.set('lastName', ts);\n    }\n    else msg.topic = \"SELECT 1 FROM dual\"; //empty query\n    msg.payload = avg;\n    var msg2 = {payload:global.get('numbAcq')};\n    var msg3 = {payload:gradient};\n    return [msg, msg2, msg3];\n}\n","outputs":3,"noerr":0,"x":470,"y":440,"wires":[["e4c4d8bd.2051f8","71f538de.2c6558","bb87b005.22af4"],["8290bab7.67d188"],["a9925921.ca8d48"]]},{"id":"6c47c80.349de38","type":"inject","z":"5670e16e.e3931","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":140,"y":100,"wires":[["b79fff10.bc93e"]]},{"id":"b11aa7b1.fe6778","type":"ui_numeric","z":"5670e16e.e3931","name":"","label":"Current num of people","group":"fe5c646a.659828","order":0,"width":"0","height":"0","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"300","step":1,"x":560,"y":80,"wires":[["144d55e3.1c5e3a"]]},{"id":"b79fff10.bc93e","type":"function","z":"5670e16e.e3931","name":"definition&settings","func":"//SETTINGS\nvar PATH = \"/home/pi/SENSORS/Data/\"; //path to store data\nvar people = 1; //starting number of people in the room\nvar windows = false; //starting windows situation\nvar photo = true; //starting take photo value\nvar n = 10; //starting avg frequency\n\n//other variables\nvar stateAcq = false;\nvar samples = [];\nvar gradient = 0;\nvar numbAcq = 0;\nvar nameAcq = \"Off\";\n\n//global definitions\nglobal.set(\"people\",people);\nglobal.set(\"windows\",windows);\nglobal.set(\"storePath\",PATH);\nglobal.set(\"n\",n);\nglobal.set(\"samples\",samples);\nglobal.set(\"lastSamp\",-1);\nglobal.set(\"lastName\",\"\");\nglobal.set(\"lastPath\",\"\");\nglobal.set(\"stateAcq\",stateAcq);\nglobal.set(\"numbAcq\",numbAcq);\nglobal.set(\"nameAcq\",nameAcq);\nglobal.set(\"takePhoto\",photo)\n\n//msg creation\nvar msgPeople = {payload:people};\nvar msgWindows = {payload:windows};\nvar msgN = {payload:n};\nvar msgGradient = {payload:gradient};\nvar msgAcq = {payload:stateAcq};\nvar msgNAcq = {payload:numbAcq};\nvar msgnameAcq = {payload:nameAcq};\nvar msgGraph = {payload:samples};\nvar msgPhoto = {payload:photo};\nreturn [msgWindows, msgPeople, msgN, msgPhoto,\n        msgAcq, msgNAcq, msgnameAcq, msgGraph, \n        msgGradient];","outputs":9,"noerr":0,"x":310,"y":222,"wires":[["bc382b9e.e334a8"],["b11aa7b1.fe6778"],["e447b343.3b00b"],["a5336bae.7a4288"],["1bb2ea4e.6dfbf6"],["8290bab7.67d188"],["da1a28ee.91f868"],["da5cb70e.a14c18"],["a9925921.ca8d48"]]},{"id":"144d55e3.1c5e3a","type":"function","z":"5670e16e.e3931","name":"setPeople","func":"global.set('people',msg.payload);","outputs":1,"noerr":0,"x":740,"y":80,"wires":[[]]},{"id":"da5cb70e.a14c18","type":"ui_chart","z":"5670e16e.e3931","name":"","group":"429f2664.89ac08","order":1,"width":0,"height":0,"label":"PPM","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":390,"y":340,"wires":[[],[]]},{"id":"71f538de.2c6558","type":"function","z":"5670e16e.e3931","name":"takePayload","func":"return { payload: msg.payload };\n","outputs":1,"noerr":0,"x":170,"y":360,"wires":[["da5cb70e.a14c18"]]},{"id":"f60b14c9.b6e818","type":"ui_button","z":"5670e16e.e3931","name":"","group":"429f2664.89ac08","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","color":"Black","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":150,"y":320,"wires":[["da5cb70e.a14c18"]]},{"id":"e447b343.3b00b","type":"ui_numeric","z":"5670e16e.e3931","name":"","label":"Sample every.. ","group":"429f2664.89ac08","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"3","max":"600","step":1,"x":540,"y":120,"wires":[["23d6d16a.22602e"]]},{"id":"23d6d16a.22602e","type":"function","z":"5670e16e.e3931","name":"setSample","func":"global.set('n',msg.payload);","outputs":1,"noerr":0,"x":710,"y":120,"wires":[[]]},{"id":"1bb2ea4e.6dfbf6","type":"ui_switch","z":"5670e16e.e3931","name":"","label":"Off/On","group":"fa400785.6f6cb8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":220,"wires":[["befa5167.1506","f0ea7e5e.f4c9f"]]},{"id":"befa5167.1506","type":"function","z":"5670e16e.e3931","name":"setState","func":"global.set('stateAcq',msg.payload);\nif(!msg.payload){\n    global.set('numbAcq',0)\n    msg.payload = \"Off\";\n    var msg2 = {payload:global.get('numbAcq')};\n    return [msg, msg2];\n}","outputs":2,"noerr":0,"x":700,"y":220,"wires":[["da1a28ee.91f868"],["8290bab7.67d188"]]},{"id":"f0ea7e5e.f4c9f","type":"function","z":"5670e16e.e3931","name":"createTable","func":"function now(){\n    var date = new Date();\n    var str = date.toLocaleDateString()+\"_\"+date.toLocaleTimeString();\n    return str.replace(/:/g , \"_\").replace(/-/g , \"_\");\n}\n\nif(msg.payload){\n    var tableName = \"Acq_\"+now();\n    msg.topic = \n            \"CREATE TABLE \"+tableName+\n            \" (ts varchar(256),co2 int(32),people int(32),gradient int(32),windows boolean)\";\n    global.set('nameAcq',tableName);\n    msg.payload = tableName;\n    msg.path = global.get('storePath');\n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["e4c4d8bd.2051f8","da1a28ee.91f868","621fc62b.507c08"]]},{"id":"da1a28ee.91f868","type":"ui_text","z":"5670e16e.e3931","group":"fa400785.6f6cb8","order":0,"width":0,"height":0,"name":"","label":"Acquistion: ","format":"{{msg.payload}}","layout":"row-left","x":890,"y":340,"wires":[]},{"id":"8290bab7.67d188","type":"ui_text","z":"5670e16e.e3931","group":"fa400785.6f6cb8","order":0,"width":0,"height":0,"name":"","label":"Acquired Data","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":300,"wires":[]},{"id":"a9925921.ca8d48","type":"ui_gauge","z":"5670e16e.e3931","name":"","group":"429f2664.89ac08","order":2,"width":0,"height":0,"gtype":"gage","title":"Gradient","label":"units","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-7","seg2":"7","x":860,"y":500,"wires":[]},{"id":"bc382b9e.e334a8","type":"ui_switch","z":"5670e16e.e3931","name":"","label":"Open windows","group":"fe5c646a.659828","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":40,"wires":[["b0d381bf.6f83f"]]},{"id":"b0d381bf.6f83f","type":"function","z":"5670e16e.e3931","name":"setWindows","func":"global.set('windows',msg.payload);","outputs":1,"noerr":0,"x":710,"y":40,"wires":[[]]},{"id":"b0e0669e.a50f18","type":"RS485 serial in","z":"5670e16e.e3931","name":"","serial":"892715f5.e5e1f8","x":110,"y":440,"wires":[["f979264c.820fa8","26c7df19.dd011"]]},{"id":"e4c4d8bd.2051f8","type":"mysql","z":"5670e16e.e3931","mydb":"88009584.44eab8","name":"mydb","x":850,"y":440,"wires":[[]]},{"id":"6691f1ec.e484a","type":"fs-ops-move","z":"5670e16e.e3931","name":"","sourcePath":"path","sourcePathType":"msg","sourceFilename":"name","sourceFilenameType":"msg","destPath":"newPath","destPathType":"msg","destFilename":"newName","destFilenameType":"msg","link":true,"x":460,"y":580,"wires":[["bad5bbfc.f9f8f8"]]},{"id":"4e153b8.ca072c4","type":"function","z":"5670e16e.e3931","name":"move","func":"function now(){\n    var date = new Date();\n    return date.toLocaleDateString()+\" \"+date.toLocaleTimeString()\n}\n\nfunction path(splitted){\n    var myPath = \"\";\n    for(var i=0;i<splitted.length-1;i++){\n        myPath = myPath+\"\"+splitted[i];\n        myPath = myPath+\"/\";\n    }\n    return myPath;\n}\n\nvar myString = msg.payload;\nvar myStringSplitted = myString.split(\"/\");\nmsg.path = path(myStringSplitted);\nmsg.name = myStringSplitted[myStringSplitted.length-1]\nmsg.newName = global.get(\"lastName\");\nmsg.newPath = global.get('storePath')+\"\"+global.get(\"nameAcq\")+\"/\";\nglobal.set(\"lastPath\",msg.newPath+\"\"+msg.newName);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["6691f1ec.e484a"]]},{"id":"621fc62b.507c08","type":"fs-ops-mkdir","z":"5670e16e.e3931","name":"Create Folder","path":"path","pathType":"msg","dirname":"payload","dirnameType":"msg","mode":"777","fullpath":"directory","fullpathType":"msg","x":880,"y":400,"wires":[[]]},{"id":"bb87b005.22af4","type":"function","z":"5670e16e.e3931","name":"takePhoto","func":"if(global.get(\"stateAcq\")&&global.get(\"takePhoto\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["1e39cb10.de1cd5"]]},{"id":"1e39cb10.de1cd5","type":"webcam","z":"5670e16e.e3931","filemode":"1","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","name":"","x":140,"y":580,"wires":[["4e153b8.ca072c4"]]},{"id":"1e9d765e.78482a","type":"ui_template","z":"5670e16e.e3931","group":"74ea4d12.885284","name":"Photo","order":0,"width":0,"height":0,"format":"<img src=\"{{msg.payload}}\" style=\"display: block; width: 296px; height: 222px;\" />","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":770,"y":580,"wires":[[]]},{"id":"bad5bbfc.f9f8f8","type":"function","z":"5670e16e.e3931","name":"getPath","func":"msg.payload = global.get(\"lastPath\");\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":580,"wires":[["1e9d765e.78482a"]]},{"id":"a5336bae.7a4288","type":"ui_switch","z":"5670e16e.e3931","name":"","label":"Take photos in acquisition","group":"74ea4d12.885284","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":160,"wires":[["9961f9f7.be0c38"]]},{"id":"9961f9f7.be0c38","type":"function","z":"5670e16e.e3931","name":"setPhotos","func":"global.set('takePhoto',msg.payload);","outputs":1,"noerr":0,"x":760,"y":160,"wires":[[]]},{"id":"45f6afca.a87d8","type":"ui_group","z":"","name":"Current","tab":"c53fb219.fd81f","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe5c646a.659828","type":"ui_group","z":"","name":"People","tab":"c53fb219.fd81f","order":3,"disp":true,"width":"6","collapse":false},{"id":"429f2664.89ac08","type":"ui_group","z":"","name":"Historical","tab":"c53fb219.fd81f","order":2,"disp":true,"width":"6","collapse":false},{"id":"fa400785.6f6cb8","type":"ui_group","z":"","name":"Acquisition","tab":"c53fb219.fd81f","disp":true,"width":"6","collapse":false},{"id":"892715f5.e5e1f8","type":"RS485 serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","flowcontrol":"none","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"88009584.44eab8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"mydb","tz":""},{"id":"74ea4d12.885284","type":"ui_group","z":"","name":"Photo","tab":"c53fb219.fd81f","disp":true,"width":"6","collapse":false},{"id":"c53fb219.fd81f","type":"ui_tab","z":"","name":"CO2","icon":"dashboard"}]