File/Node_Multisensor_MQTT
[{"id":"68751582.022e4c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"321615cd.1e62ea","type":"fs-ops-move","z":"68751582.022e4c","name":"","sourcePath":"path","sourcePathType":"msg","sourceFilename":"name","sourceFilenameType":"msg","destPath":"newPath","destPathType":"msg","destFilename":"newName","destFilenameType":"msg","link":false,"x":540,"y":40,"wires":[["3b303f88.8467c"]]},{"id":"9ed79149.81fb8","type":"function","z":"68751582.022e4c","name":"move","func":"function now(){\n    var date = new Date();\n    return date.toLocaleDateString()+\" \"+date.toLocaleTimeString()\n}\n\nfunction path(splitted){\n    var myPath = \"\";\n    for(var i=0;i<splitted.length-1;i++){\n        myPath = myPath+\"\"+splitted[i];\n        myPath = myPath+\"/\";\n    }\n    return myPath;\n}\n\nvar myString = msg.payload;\nvar myStringSplitted = myString.split(\"/\");\nmsg.path = path(myStringSplitted);\nmsg.name = myStringSplitted[myStringSplitted.length-1]\nmsg.newName = global.get(\"lastName\");\nmsg.newPath = global.get('storePath')+\"\"+global.get(\"nameAcq\")+\"/\";\nglobal.set(\"lastPath\",msg.newPath+\"\"+msg.newName);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":40,"wires":[["321615cd.1e62ea"]]},{"id":"d9599aab.682bb8","type":"function","z":"68751582.022e4c","name":"takePhoto","func":"if(global.get(\"stateAcq\")&&global.get(\"takePhoto\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":100,"wires":[["919a0771.281968"]]},{"id":"919a0771.281968","type":"webcam","z":"68751582.022e4c","filemode":"1","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","name":"","x":220,"y":40,"wires":[["9ed79149.81fb8"]]},{"id":"88fcc622.396138","type":"ui_template","z":"68751582.022e4c","group":"cfb68767.dc1e58","name":"Photo","order":0,"width":0,"height":0,"format":"<img src=\"{{msg.payload}}\" style=\"display: block; width: 296px; height: 222px;\" />","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":850,"y":40,"wires":[[]]},{"id":"3b303f88.8467c","type":"function","z":"68751582.022e4c","name":"getPath","func":"msg.payload = global.get(\"lastPath\");\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":40,"wires":[["88fcc622.396138"]]},{"id":"4382b127.a71c4","type":"mqtt in","z":"68751582.022e4c","name":"","topic":"Prova","qos":"2","broker":"f67a4ba1.856448","x":70,"y":120,"wires":[["de60815e.5407e","c25e2c1b.387d9"]]},{"id":"44fd8099.163b","type":"mqtt in","z":"68751582.022e4c","name":"","topic":"S2","qos":"2","broker":"f67a4ba1.856448","x":70,"y":200,"wires":[["3152d5a.81dac2a","1c1451a2.fff5de"]]},{"id":"6d34e830.1c5478","type":"mqtt in","z":"68751582.022e4c","name":"","topic":"S3","qos":"2","broker":"f67a4ba1.856448","x":70,"y":280,"wires":[["c44f869.3a04378","c8b4053.9550cf8"]]},{"id":"5a292e19.4e7a4","type":"ui_gauge","z":"68751582.022e4c","name":"","group":"15385c19.1af814","order":0,"width":0,"height":0,"gtype":"gage","title":"S1","label":"PPM","format":"{{value}}","min":"400","max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":160,"wires":[]},{"id":"5fd9b8e1.1f4f88","type":"ui_gauge","z":"68751582.022e4c","name":"","group":"15385c19.1af814","order":0,"width":0,"height":0,"gtype":"gage","title":"S2","label":"PPM","format":"{{value}}","min":"400","max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":240,"wires":[]},{"id":"121719ef.e11346","type":"ui_gauge","z":"68751582.022e4c","name":"","group":"15385c19.1af814","order":0,"width":0,"height":0,"gtype":"gage","title":"S3","label":"PPM","format":"{{value}}","min":"400","max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":320,"wires":[]},{"id":"3152d5a.81dac2a","type":"function","z":"68751582.022e4c","name":"Conversion","func":"var temp = (Math.pow(msg.payload,2)*0.133)-msg.payload*160.616+49009.082;\nmsg.payload = parseInt(temp);\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":240,"wires":[["5fd9b8e1.1f4f88"]]},{"id":"c44f869.3a04378","type":"function","z":"68751582.022e4c","name":"Conversion","func":"var temp = (Math.pow(msg.payload,2)*0.133)-msg.payload*160.616+49009.082;\nmsg.payload = parseInt(temp);\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":320,"wires":[["121719ef.e11346"]]},{"id":"b3db068e.748118","type":"function","z":"68751582.022e4c","name":"avg&insert&conv","func":"function now(){\n    var date = new Date();\n    return date.toLocaleDateString()+\" \"+date.toLocaleTimeString() \n}\n\nvar n = global.get('n');\nvar samples1 = global.get('samples1');\nvar samples2 = global.get('samples2');\nvar samples3 = global.get('samples3');\nvar people = global.get('people');\nvar stateAcq = global.get('stateAcq');\nvar nameAcq = global.get('nameAcq');\nvar lastSamp1 = global.get('lastSamp1');\nvar lastSamp2 = global.get('lastSamp2');\nvar lastSamp3 = global.get('lastSamp3');\nvar lastSampTot = global.get('lastSampTot');\nvar windows = global.get('windows');\n\nif(msg.topic===\"S1\") samples1.push(msg.payload);\nif(msg.topic===\"S2\") samples2.push(msg.payload);\nif(msg.topic===\"S3\") samples3.push(msg.payload);\n\nif(samples1.length >= n || samples2.length >= n || samples3.length >= n){\n    //Avg\n    var sum1 = 0;\n    for(var i=0; i<samples1.length; i++){\n        sum1 += parseInt(samples1[i],10);\n    }\n    var avg1 = Math.round(sum1/samples1.length);\n    var sum2 = 0;\n    for(var i=0; i<samples2.length; i++){\n        sum2 += parseInt(samples2[i],10);\n    }\n    var avg2 = Math.round(sum2/samples2.length);\n    var sum3 = 0;\n    for(var i=0; i<samples3.length; i++){\n        sum3 += parseInt(samples3[i],10);\n    }\n    var avg3 = Math.round(sum3/samples3.length);\n    //Conversion\n    if(samples1.length > 0) avg1 = parseInt((Math.pow(avg1,2)*0.133)-avg1*160.616+49009.082);\n    else avg1 = 0;\n    if(samples2.length > 0) avg2 = parseInt((Math.pow(avg2,2)*0.133)-avg2*160.616+49009.082);\n    else avg2 = 0;\n    if(samples3.length > 0) avg3 = parseInt((Math.pow(avg3,2)*0.133)-avg3*160.616+49009.082);\n    else avg3 = 0;\n    //Total\n    var cont = 0; if(avg1!=0) cont++; if(avg2!=0) cont++; if(avg3!=0) cont++; \n    var tot = Math.round((avg1+avg2+avg3)/cont);\n    //Gradient\n    var gradient1 = 0;\n    if(lastSamp1!=-1) gradient1=avg1-lastSamp1;\n    global.set(\"lastSamp1\",avg1);\n    var gradient2 = 0;\n    if(lastSamp2!=-1) gradient2=avg2-lastSamp2;\n    global.set(\"lastSamp2\",avg2);\n    var gradient3 = 0;\n    if(lastSamp3!=-1) gradient3=avg3-lastSamp3;\n    global.set(\"lastSamp3\",avg3);\n    var gradientTot = 0;\n    if(lastSampTot!=-1) gradientTot=tot-lastSampTot;\n    global.set(\"lastSampTot\",tot);\n    //Reset\n    samples1.length = 0;\n    samples2.length = 0;\n    samples3.length = 0;\n    //Insert\n    if(stateAcq){\n        var ts = now();\n        msg.topic = \n            \"INSERT INTO \"+nameAcq+\" VALUES ('\"+ts+\"',\"+\n            avg1+\",\"+avg2+\",\"+avg3+\",\"+people+\",\"+gradient1+\n            \",\"+gradient2+\",\"+gradient3+\",\"+windows+\")\";\n        global.set('numbAcq',global.get('numbAcq')+1);\n        global.set('lastName', ts);\n    }\n    else msg.topic = \"SELECT 1 FROM dual\"; //empty query\n    \n    var msg_na = {payload:global.get('numbAcq')};\n    var msg_g1 = {payload:gradient1};\n    var msg_g2 = {payload:gradient2};\n    var msg_g3 = {payload:gradient3};\n    var msg_s1 = {payload:avg1,topic:\"S1\"};\n    var msg_s2 = {payload:avg2,topic:\"S2\"};\n    var msg_s3 = {payload:avg3,topic:\"S3\"};\n    var msg_people = {payload: people};\n    var msg_co2 = {payload: avg1+\",\"+avg2+\",\"+avg3};\n    var msg_tot = {payload:tot,topic:\"Tot\"};\n    var msg_gtot = {payload:gradientTot};\n    return [msg, msg_na, msg_g1, msg_g2, msg_g3, msg_s1, msg_s2, msg_s3, msg_people, msg_co2, msg_tot, msg_gtot];\n}\n","outputs":12,"noerr":0,"x":510,"y":220,"wires":[["9c77a314.0a90f","d9599aab.682bb8"],["db1b4150.69723"],["67d949a5.35c668"],["359bc309.48544c"],["e58b4c28.7b38e"],["2439b8b3.ab5408"],["2439b8b3.ab5408"],["2439b8b3.ab5408"],["78763e8e.10ed2"],["e15b86ef.5c46f8"],["2439b8b3.ab5408"],["4ad1923c.f2d9dc"]]},{"id":"de60815e.5407e","type":"function","z":"68751582.022e4c","name":"Topic S1","func":"msg.topic = \"S1\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["b3db068e.748118"]]},{"id":"1c1451a2.fff5de","type":"function","z":"68751582.022e4c","name":"Topic S2","func":"msg.topic = \"S2\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["b3db068e.748118"]]},{"id":"c8b4053.9550cf8","type":"function","z":"68751582.022e4c","name":"Topic S3","func":"msg.topic = \"S3\";\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":280,"wires":[["b3db068e.748118"]]},{"id":"78763e8e.10ed2","type":"file","z":"68751582.022e4c","name":"test.txt","filename":"/home/pi/cowible/data/people.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":702,"y":280,"wires":[[]]},{"id":"e15b86ef.5c46f8","type":"file","z":"68751582.022e4c","name":"co2.txt","filename":"/home/pi/cowible/data/co2.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":702,"y":314,"wires":[[]]},{"id":"e475abc.6374a58","type":"function","z":"68751582.022e4c","name":"definition&settings","func":"//SETTINGS \nvar PATH = \"/home/pi/SENSORS/Data/\"; //path to store data\nvar people = 1; //starting number of people in the room\nvar windows = false; //starting windows situation\nvar photo = false; //starting take photo value\nvar n = 10; //starting avg frequency (in seconds)\nvar freqConversion = 1; //conversion factor between sample freq and time frequency in seconds\n//ex. 2 = 1 sample each 2 seconds\n\n//other variables\nvar stateAcq = false;\nvar samples1 = [];\nvar samples2 = [];\nvar samples3 = [];\nvar samplesTot= [];\nvar gradient1 = 0;\nvar gradient2 = 0;\nvar gradient3 = 0;\nvar gradientTot = 0;\nvar numbAcq = 0;\nvar nameAcq = \"Off\";\nvar myNameAcq = \"\";\n\n//global definitions\nglobal.set(\"people\",people);\nglobal.set(\"windows\",windows);\nglobal.set(\"storePath\",PATH);\nglobal.set(\"freqConversion\",freqConversion);\nglobal.set(\"n\",Math.round(n/freqConversion));\nglobal.set(\"samples1\",samples1);\nglobal.set(\"samples2\",samples2);\nglobal.set(\"samples3\",samples3);\nglobal.set(\"lastSamp1\",-1);\nglobal.set(\"lastSamp2\",-1);\nglobal.set(\"lastSamp3\",-1);\nglobal.set(\"lastSampTot\",-1);\nglobal.set(\"lastName\",\"\");\nglobal.set(\"lastPath\",\"\");\nglobal.set(\"stateAcq\",stateAcq);\nglobal.set(\"numbAcq\",numbAcq);\nglobal.set(\"nameAcq\",nameAcq);\nglobal.set(\"takePhoto\",photo);\nglobal.set('myAcqName',myNameAcq);\n\n//msg creation\nvar msgPeople = {payload:people};\nvar msgWindows = {payload:windows};\nvar msgN = {payload:n};\nvar msgGradient1 = {payload:gradient1};\nvar msgGradient2 = {payload:gradient2};\nvar msgGradient3 = {payload:gradient3};\nvar msgGradientTot = {payload:gradientTot};\nvar msgAcq = {payload:stateAcq};\nvar msgNAcq = {payload:numbAcq};\nvar msgnameAcq = {payload:nameAcq};\nvar msgGraph1 = {payload:samples1,topic:\"S1\"};\nvar msgGraph2 = {payload:samples2,topic:\"S2\"};\nvar msgGraph3 = {payload:samples3,topic:\"S3\"};\nvar msgGraphTot = {payload:samplesTot,topic:\"Tot\"};\nvar msgPhoto = {payload:photo};\nvar msgMyNameAcq = {payload:myNameAcq};\nreturn [msgWindows, msgPeople, msgN, msgPhoto, msgMyNameAcq,\n        msgAcq, msgNAcq, msgnameAcq, msgGraph1, \n        msgGraph2, msgGraph3, msgGradient1, msgGradient2, msgGradient3, \n        msgGraphTot, msgGradientTot];","outputs":16,"noerr":0,"x":290,"y":465,"wires":[["3baf65a7.133bda"],["48589ad4.055064"],["616e262e.484528"],["7ab59ff3.bd789"],["b46c3658.da7808"],["aaf2f39a.9fcb7"],["db1b4150.69723"],["12cfcfcb.a5a48"],["2439b8b3.ab5408"],["2439b8b3.ab5408"],["2439b8b3.ab5408"],["67d949a5.35c668"],["359bc309.48544c"],["e58b4c28.7b38e"],["2439b8b3.ab5408"],["4ad1923c.f2d9dc"]]},{"id":"4c5e1238.f24d3c","type":"inject","z":"68751582.022e4c","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":85,"y":461,"wires":[["e475abc.6374a58"]]},{"id":"48589ad4.055064","type":"ui_numeric","z":"68751582.022e4c","name":"","label":"Current num of people","group":"7a786a5e.4d8884","order":0,"width":"0","height":"0","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"300","step":1,"x":540,"y":420,"wires":[["3f160c75.5c4d04"]]},{"id":"3f160c75.5c4d04","type":"function","z":"68751582.022e4c","name":"setPeople","func":"global.set('people',msg.payload);","outputs":1,"noerr":0,"x":720,"y":420,"wires":[[]]},{"id":"616e262e.484528","type":"ui_numeric","z":"68751582.022e4c","name":"","label":"Sample every.. [s]","group":"70c9cd43.594a64","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"3","max":"600","step":1,"x":530,"y":460,"wires":[["cc21d7a5.b1e998"]]},{"id":"cc21d7a5.b1e998","type":"function","z":"68751582.022e4c","name":"setSample","func":"global.set('n',Math.round(msg.payload/global.get(\"freqConversion\")));","outputs":1,"noerr":0,"x":716,"y":460,"wires":[[]]},{"id":"3baf65a7.133bda","type":"ui_switch","z":"68751582.022e4c","name":"","label":"Open windows","group":"7a786a5e.4d8884","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":380,"wires":[["c39dd055.8e6c"]]},{"id":"c39dd055.8e6c","type":"function","z":"68751582.022e4c","name":"setWindows","func":"global.set('windows',msg.payload);","outputs":1,"noerr":0,"x":690,"y":380,"wires":[[]]},{"id":"7ab59ff3.bd789","type":"ui_switch","z":"68751582.022e4c","name":"","label":"Take photos in acquisition","group":"cfb68767.dc1e58","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":500,"wires":[["85205a60.086ca8"]]},{"id":"85205a60.086ca8","type":"function","z":"68751582.022e4c","name":"setPhotos","func":"global.set('takePhoto',msg.payload);","outputs":1,"noerr":0,"x":740,"y":500,"wires":[[]]},{"id":"b46c3658.da7808","type":"ui_text_input","z":"68751582.022e4c","name":"","label":"Name (opt):","group":"400c9799.23c6e8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":510,"y":540,"wires":[["1d7d6e17.c3da92"]]},{"id":"1d7d6e17.c3da92","type":"function","z":"68751582.022e4c","name":"setAcqMyName","func":"global.set('myAcqName',msg.payload);","outputs":1,"noerr":0,"x":680,"y":540,"wires":[[]]},{"id":"388494b.b80b66c","type":"function","z":"68751582.022e4c","name":"setState","func":"global.set('stateAcq',msg.payload);\nif(!msg.payload){\n    global.set('numbAcq',0)\n    msg.payload = \"Off\";\n    var msg2 = {payload:global.get('numbAcq')};\n    return [msg, msg2];\n}","outputs":2,"noerr":0,"x":640,"y":580,"wires":[["12cfcfcb.a5a48"],["db1b4150.69723"]]},{"id":"7cba5cce.92fca4","type":"function","z":"68751582.022e4c","name":"createTable","func":"function now(){\n    var date = new Date();\n    var str = date.toLocaleDateString()+\"_\"+date.toLocaleTimeString();\n    return str.replace(/:/g , \"_\").replace(/-/g , \"_\");\n}\n\nif(msg.payload){\n    var tableName = \"\";\n    var myAcqName = global.get('myAcqName');\n    if(myAcqName===\"\") {tableName = \"Acq_\"+now();}\n    else {tableName = myAcqName+\"__Acq_\"+now();}\n    msg.topic = \n            \"CREATE TABLE \"+tableName+\n            \" (ts varchar(256),co2s1 int(32),co2s2 int(32),co2s3 int(32),people int(32),gradient1 int(32),gradient2 int(32),gradient3 int(32),windows boolean)\";\n    global.set('nameAcq',tableName);\n    msg.payload = tableName;\n    msg.path = global.get('storePath');\n    return msg;\n}","outputs":1,"noerr":0,"x":650,"y":620,"wires":[["12cfcfcb.a5a48","9c77a314.0a90f","3443081c.405de8"]]},{"id":"aaf2f39a.9fcb7","type":"ui_switch","z":"68751582.022e4c","name":"","label":"Off/On","group":"400c9799.23c6e8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":490,"y":580,"wires":[["388494b.b80b66c","7cba5cce.92fca4"]]},{"id":"db1b4150.69723","type":"ui_text","z":"68751582.022e4c","group":"400c9799.23c6e8","order":0,"width":0,"height":0,"name":"","label":"Acquired Data","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":502,"wires":[]},{"id":"12cfcfcb.a5a48","type":"ui_text","z":"68751582.022e4c","group":"400c9799.23c6e8","order":0,"width":0,"height":0,"name":"","label":"Acquistion: ","format":"{{msg.payload}}","layout":"row-left","x":910,"y":540,"wires":[]},{"id":"3443081c.405de8","type":"fs-ops-mkdir","z":"68751582.022e4c","name":"Create Folder","path":"path","pathType":"msg","dirname":"payload","dirnameType":"msg","mode":"777","fullpath":"directory","fullpathType":"msg","x":900,"y":600,"wires":[[]]},{"id":"9c77a314.0a90f","type":"mysql","z":"68751582.022e4c","mydb":"1dce6155.e750cf","name":"mydb","x":870,"y":640,"wires":[[]]},{"id":"2439b8b3.ab5408","type":"ui_chart","z":"68751582.022e4c","name":"","group":"70c9cd43.594a64","order":1,"width":"6","height":"4","label":"PPM","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":160,"wires":[[],[]]},{"id":"bd15f9ad.26b788","type":"ui_button","z":"68751582.022e4c","name":"","group":"70c9cd43.594a64","order":2,"width":0,"height":0,"passthru":false,"label":"Reset","color":"Black","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":870,"y":120,"wires":[["2439b8b3.ab5408"]]},{"id":"67d949a5.35c668","type":"ui_gauge","z":"68751582.022e4c","name":"","group":"dd5af9f0.ea6728","order":4,"width":0,"height":0,"gtype":"gage","title":"Gradient1","label":"units","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-7","seg2":"7","x":880,"y":260,"wires":[]},{"id":"359bc309.48544c","type":"ui_gauge","z":"68751582.022e4c","name":"","group":"dd5af9f0.ea6728","order":4,"width":0,"height":0,"gtype":"gage","title":"Gradient2","label":"units","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-7","seg2":"7","x":880,"y":300,"wires":[]},{"id":"e58b4c28.7b38e","type":"ui_gauge","z":"68751582.022e4c","name":"","group":"dd5af9f0.ea6728","order":4,"width":0,"height":0,"gtype":"gage","title":"Gradient3","label":"units","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-7","seg2":"7","x":880,"y":340,"wires":[]},{"id":"4ad1923c.f2d9dc","type":"ui_gauge","z":"68751582.022e4c","name":"","group":"dd5af9f0.ea6728","order":4,"width":0,"height":0,"gtype":"gage","title":"GradientTot","label":"units","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-7","seg2":"7","x":890,"y":380,"wires":[]},{"id":"c25e2c1b.387d9","type":"function","z":"68751582.022e4c","name":"Conversion","func":"var temp = (Math.pow(msg.payload,2)*0.133)-msg.payload*160.616+49009.082;\nmsg.payload = parseInt(temp);\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["5a292e19.4e7a4"]]},{"id":"cfb68767.dc1e58","type":"ui_group","z":"","name":"Photo","tab":"270900a5.88e22","order":6,"disp":true,"width":"6","collapse":false},{"id":"f67a4ba1.856448","type":"mqtt-broker","z":"","name":"Localhost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"15385c19.1af814","type":"ui_group","z":"","name":"Current","tab":"270900a5.88e22","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a786a5e.4d8884","type":"ui_group","z":"","name":"People","tab":"270900a5.88e22","order":4,"disp":true,"width":"6","collapse":false},{"id":"70c9cd43.594a64","type":"ui_group","z":"","name":"Historical","tab":"270900a5.88e22","order":3,"disp":true,"width":"6","collapse":false},{"id":"400c9799.23c6e8","type":"ui_group","z":"","name":"Acquisition","tab":"270900a5.88e22","order":5,"disp":true,"width":"6","collapse":false},{"id":"1dce6155.e750cf","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"mydb","tz":""},{"id":"dd5af9f0.ea6728","type":"ui_group","z":"","name":"Gradient","tab":"270900a5.88e22","order":2,"disp":true,"width":"6","collapse":false},{"id":"270900a5.88e22","type":"ui_tab","z":"","name":"CO2","icon":"dashboard"}]